/*HEADER*/
.portada{
	background-image: url('../images/antes.jpg');
	background-size: cover;
	height: 500px;
	font-family: 'Fira Sans', sans-serif;
	background-position: center;
}.header{
	margin: 0;
}
.header figure{
	margin: 0;
}
.logo{
	height: 40px;
}
/*SECTION1*/
.img_title{
	width: 200px;
	height: 200px;
    margin-left: 70px;
}
.section1_article1{
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	margin: 50px 0;
}
.section1_article1 h1{
	font-family: 'Open Sans Condensed';
	font-size: 45px;
	color: rgb(244,178,62);
	text-align: center;
}
.section1_article2 h3{
	font-family: 'Open Sans Condensed';
	font-size: 25px;
	color: rgb(32,66,3);
	text-align: justify;
	width: 950px;
	margin: 10px auto;
}
.mapa_png{
    height: 549px;
    width: auto !important;
    margin-top: 30px !important;
    padding: 0
}
/*SECTION2*/
.brown_bar{
	width: 100%;
    height: 30px;
    margin-top: 50px;
    background: rgb(244,178,62);
}
.map{
	margin-top: 40px;
}
#map{
    width: 50%;
}
.section2{
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.section2 img{    
	width: 40%;
    margin-top: 45px;
}
/*SECTION3*/
.section3 article{
	display: flex;
    position: relative;
    margin-top: 50px;
    justify-content: space-between;
}
.section3 article div:first-child{
	border: 1px solid rgb(101,114,36);;
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.dif_tiempo{
	width: 85px !important;
    margin-left: 26px;
}
.section3 article div:first-child img{
	width: 50px;
    margin-right: 10px;
}
.section3 article div:first-child h6{
	width: 70%;
    margin: 0 20px 0 5px;
}
.sensor_div{
    border: 1px solid rgb(101,114,36);;
    width: 39%;
}
.section3 article div h6{
	font-size: 15px;
    font-family: 'Open Sans COndensed';
    padding: 0 10px;
    text-align: justify;
}
.importante{
	position: absolute;
    background: rgb(101,114,36);
    font-family: 'Open Sans Condensed';
    margin: 0;
    width: 113px;
    top: -12px;
    text-align: center;
    color: white;
    left: 41%;
    height: 25px;
}
.importante h4{
	width: 78px;
    display: inline-block;
    margin: 0;
    height: 25px;
    vertical-align: top;
}
.importante img{
	height: 20px;
    display: inline-block;
    background: rgb(101,114,36);
    padding-top: 2px;
}
.sensor{
	position: absolute;
    background: rgb(101,114,36);;
    font-family: 'Open Sans Condensed';
    margin: 0;
    width: 140px;
    top: -12px;
    text-align: center;
    color: white;
    left: 84%;
    height: 25px;
}
.text_dif_tiempo{
	text-align: center !important;
}
/*SECTION4*/
.section4 h6{
	border: 3px solid rgb(244,178,62);
    text-align: center;
    font-family: 'Open Sans Condensed';
    font-size: 15px;
}
span{
	color: rgb(101,114,36);
}
@media screen and (max-width: 500px){
    .section1_article1 h1 {
    font-size: 24px;
    margin: 0;
    }
    .img_title {
    width: 110px;
    height: 110px;
    margin: 0;
    }
    .section1_article1{
        margin-bottom: 20px;
    }
    .brown_bar{
        margin-top: 0;
    }
    #map{
    width: 94%;
    position: absolute;
    /* margin-top: 169px; */
    left: 3%;
    top: 0;
    right: 3%;
    }
    .mapa_png{
            padding-top: 109px !important;
            margin-top: 0 !important;
            top: 0;
    position: absolute;
    padding: 0;
    left: 0;
    z-index: 2;
    }
    .contenedor.section2{
        position: relative;
        height: 920px;
    }
    .convenciones{
            top: 585px;
    margin-top: 0 !important;
    position: absolute;
    width: 94% !important;
    left: 3%;
    }
    .section3 article{
        flex-wrap: wrap;
    }
    .section3 article div:first-child{
        width: 94%;
    margin-left: 3%;
    flex-wrap: wrap;
    }
    .section3 article div:first-child h6{
        margin-top: 20px;
    }
    .sensor_div{
        width: 94%;
        margin-left: 3%;
        margin-top: 10%;
    }
    .sensor{
        visibility: hidden;
    }
}